entrypoint = "index.js"
modules = ["nodejs-22"]
hidden = [".config", "package-lock.json"]

[gitHubImport]
requiredFiles = [".replit", "replit.nix", "package.json", "package-lock.json"]

[nix]
channel = "stable-24_11"
packages = ["killall", "tree"]

[deployment]
run = ["node", "index.js"]
deploymentTarget = "autoscale"
ignorePorts = false

[agent]
expertMode = true

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 4200
externalPort = 4200

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 9229
externalPort = 80
exposeLocalhost = true

[userenv]

[userenv.shared]
SUPABASE_HOST = "aws-0-eu-central-1.pooler.supabase.com"
SUPABASE_PORT = "6543"
SUPABASE_USER = "postgres.oyyosqfzvzojjndvwyql"
SUPABASE_DB = "postgres"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Dev Server"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "System Health Server"

[[workflows.workflow]]
name = "Dev Server"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=5000 npx nx serve production-monitoring-backend --configuration=development"
waitForPort = 5000

[[workflows.workflow]]
name = "System Health Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=5000 npx nx serve system-health-backend --configuration=development"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"
